* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(224, 168, 127);
    position: relative;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    background-image: url(manhair.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 60%;
}

.tabs {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.tabs button {
    padding: 15px 2rem;
    color: #fff;
    background: #444;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

.tabs button.active {
    background: #fff;
    color: #000;
    border-radius: 15px 15px 0 0;
}

.tab-content {
    margin-top: 20px;
    color: #fff;
    font-size: 1rem;
}

.content {
    display: none;
}

.content.active {
    display: block;
    padding: 15px;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
        background-size: 100%;
    }

    .tabs button {
        padding: 10px 1rem;
        font-size: 0.9rem;
    }

    .tab-content {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .tabs {
        flex-direction: column;
        align-items: center;
    }

    .tabs button {
        padding: 10px;
        font-size: 0.8rem;
        width: 100%;
    }

    .container {
        background-size: 100%;
        background-position: center;
    }

    .tab-content {
        font-size: 0.8rem;
        padding: 10px;
    }
}
